body {

    top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 170px;
    background-image: url(src/images/vfBackground.png);

}
.forgot-arrow {
    color: black;
    transition: 1s;

}
.forgot-arrow:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#forgot-logo {
    width: 40%;
    margin-bottom: 44px;
}
#forgot-email, #forgot-password {
    margin-bottom: 40px;
}

#forgot-login-inputs {
    border-radius: 5%;
    width: 400px;
    height: auto;
    padding: 40px;
    margin: auto;
    background-color: #c1eceaf9;

    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#forgot-link {
    margin-top: 10px;
}

.forgot-h1 {
    font-size: 30px;
    margin: 40px;
    position: absolute;
    margin-left: 45px;
}

.forgot-top-part {
    width: 100%;
    display: flex;
    height: 100px;

}
 
.forgot-wrapper {
    margin-top: 100px;
}

.forgot-button {
    width: 230px;
    left: 40px;
}